<div class="center hero-unit">
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://localhost:3000' %>
          <% if signed_in? %>
  <h2>
    Hi   <%= current_user['name'] %> Welcome Back!!!
  </h2>
		<% end %>
  <h1>Project Explorer</h1>

  <h2>
    Explore/Maintain Project Resources.
  </h2>

          <% if signed_in? %>
          <% else %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
          <% end %>
</div>


